<h1> Listing concerts </h1>
<table>
	<tr>
		<th>Band</th>
		<th>Date</th>
	</tr>
	<% concerts = Concert.all %>
	<% concerts.each do |concert| %>
	<tr>
		<td><%= link_to concert.band, concert %></td>
		<td><%= concert.date %></td>
	</tr>
	<% end %>
	<% if concerts.size == 0 %>
	<em>No concerts found</em>
	<% end %>
</table>
