$main-color: #b00;

body {
	background: black;
	a {
		color: $main-color;
	}
}

.info {
	padding-top: 10px;	
	color: invert($main-color);
	text-align: center;	
}

.features.container {
	$background: #090909;
	background: $background;
	color: $main-color;
	
	table { 
		th {
			background: #500;
			color: #444;
		}
		tr:hover {
			background: lighten($background, 5%);
		}
	}
}

.features {
	.field {
		padding: 10px;
	}

}

.container {
	.navbar-brand {
		color: #000;
		text-shadow: $main-color -2px 2px;
	}
	.user {
		color: lighten($main-color, 10%);
		font-weight: bolder;
	}
}