$main-color: rgb(255, 41, 41);

body {
	background: rgb(43, 41, 41);
	a {
		color: $main-color;
	}
}

.info {
	padding-top: 10px;	
	color: invert($main-color);
	text-align: center;	
}

.features.container {
	$background: #353030;
	background: $background;
	color: $main-color;
	
	table { 
		th {
			background: #500;
			color: rgb(207, 203, 203);
		}
		tr:hover {
			background: lighten($background, 5%);
		}
	}
}

a:hover {
	color: rgb(199, 118, 118)
}

.features {
	.field {
		padding: 10px;
	}

}

.container {
	.navbar-brand {
		font-size: 30px;
		color: $main-color;
		text-shadow: rgb(32, 0, 0) -5px 5px;
	}
	.user {
		color: lighten($main-color, 10%);
		font-weight: bolder;
	}
}